.Contact{
    height: 100px;
    background: #09121A;
}

.InnerContainer{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2578BE;
}