@import '../../var';

.Header{
    background: $darkBgColor;
    height: 160px;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.LogoAndNav{
    display: flex;
    height: 50%;
    align-items: center;
}